<%- include('../partials/header') -%>
<main class="contenido-principal">
  <h1>Gestión de Reportes</h1>
  <p>Aquí puedes gestionar los reportes.</p>
</main>
<%- include('../partials/footer') -%>
